#file_list .btn {
    text-align: left;
    padding-left: 0.25em;
}

pre {
    height: auto;
    max-height: 60vh;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

#run_btn {
    float: right;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline;
    float: right;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* .result-card-title {
    display: inline;
} */