#file_list .btn {
    text-align: left;
    padding-left: 0.25em;
}

.card {
    height: 60vh;
}

.card-body {
    height: 100%;
}

pre {
    height: 100%;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

#run_btn {
    float: right;
}

.loader {
    border: 3px solid #3498db; /* Blue */
    border-top: 3px solid white; /* Light grey */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline;
    float: right;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#result-container {
    background-color: white;
    border: none;
    /* display: contents; */
    /* padding: 9.5px; */
}

a.tab-link, a.tab-link:active, a.tab-link:focus {
    outline: none;
}
/* .result-card-title {
    display: inline;
} */