h3 {
    font-size: 1.3em;
    text-align: left;
}

h2 {
    font-size: 1.55em;
    text-align: left;
}

body {
    font-family: Montserrat;
    text-align: justify;
    font-size: 1.5em;
    text-justify: inter-word;
}