<!DOCTYPE html>
<html>

<head>
	<title>Code2Inv | Features</title>
	<%- include('../partial/includes.ejs') %>
	<script src="js/features.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="css/features.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>

	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Features of Code2Inv</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Code2Inv offers the following:
                <ul>
                    <li>
                        
                    </li>
                    <li>
                        Feature 2
                    </li>
                    <li>
                        Feature 3
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>