<!DOCTYPE html>
<html>

<head>
	<title>Code2Inv | People</title>
	<%- include('../partial/includes.ejs') %>
	<script src="js/people.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="css/people.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>

	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>People</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Students</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h4><a href="https://github.com/aadityanaik" target="_blank">Aaditya Naik</a></h4>
                    <span class="people-inst">University of Pennsylvania</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Researchers</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h4><a href="https://hanjun-dai.github.io/" target="_blank">Hanjun Dai</a></h4>
                    <span class="people-inst">Google Brain</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Faculty</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h4><a href="https://www.seas.upenn.edu/~xsi/" target="_blank">Xujie Si</a></h4>
                    <span class="people-inst">McGill University</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h4><a href="https://viterbi.usc.edu/directory/faculty/Raghothaman/Mukund" target="_blank">Mukund Raghothaman</a></h4>
                    <span class="people-inst">University of Southern California</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h4><a href="https://www.seas.upenn.edu/~mhnaik/" target="_blank">Mayur Naik</a></h4>
                    <span class="people-inst">University of Pennsylvania</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h4><a href="https://www.cc.gatech.edu/~lsong/" target="_blank">Le Song</a></h4>
                    <span class="people-inst">Georgia Institute of Technology</span>
                </p>
            </div>
        </div>
        <!-- <div class="row people-row">
            <div class="col-lg-2">
                <span class="people-name">XUJIE SI</span><br>
                <span class="people-inst">University of Pennsylvania</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">AADITYA NAIK</span><br>
                <span class="people-inst">University of Pennsylvania</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">HANJUN DAI</span><br>
                <span class="people-inst">Google Brain</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">MAYUR NAIK</span><br>
                <span class="people-inst">University of Pennsylvania</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">LE SONG</span><br>
                <span class="people-inst">Georgia Institute of Technology</span>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>
                            <img src="assets/xujie_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/aaditya_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/hanjun_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/mayur_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/le_img.png" class="people-img"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="people-name">Xujie Si</span>
                        </td>
                        <td>
                            <span class="people-name">Aaditya Naik</span>
                        </td>
                        <td>
                            <span class="people-name">Hanjun Dai</span>
                        </td>
                        <td>
                            <span class="people-name">Mayur Naik</span>
                        </td>
                        <td>
                            <span class="people-name">Le Song</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="people-inst">University of Pennsylvania</span>
                        </td>
                        <td>
                            <span class="people-inst">University of Pennsylvania</span>
                        </td>
                        <td>
                            <span class="people-inst">Georgia Institute of Technology</span>
                        </td>
                        <td>
                            <span class="people-inst">University of Pennsylvania</span>
                        </td>
                        <td>
                            <span class="people-inst">Georgia Institute of Technology</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div> -->
    </div>
</body>