<!DOCTYPE html>
<html>

<head>
	<title>Code2Inv | People</title>
	<%- include('../partial/includes.ejs') %>
	<script src="js/people.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="css/people.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>

	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>People</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Xujie Si</h3>
                <span class="people-inst">University of Pennsylvania</span><br>
                Website: <a href="https://www.seas.upenn.edu/~xsi/" target="_blank">www.seas.upenn.edu/~xsi</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Aaditya Naik</h3>
                <span class="people-inst">University of Pennsylvania</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Hanjun Dai</h3>
                <span class="people-inst">Google Brain</span><br>
                Website: <a href="https://hanjun-dai.github.io/" target="_blank">hanjun-dai.github.io</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Mayur Naik</h3>
                <span class="people-inst">University of Pennsylvania</span><br>
                Website: <a href="https://www.seas.upenn.edu/~mhnaik/" target="_blank">www.seas.upenn.edu/~mhnaik</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Le Song</h3>
                <span class="people-inst">Georgia Institute of Technology</span><br>
                Website: <a href="https://www.cc.gatech.edu/~lsong/" target="_blank">www.cc.gatech.edu/~lsong</a>
            </div>
        </div>
        <!-- <div class="row people-row">
            <div class="col-lg-2">
                <span class="people-name">XUJIE SI</span><br>
                <span class="people-inst">University of Pennsylvania</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">AADITYA NAIK</span><br>
                <span class="people-inst">University of Pennsylvania</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">HANJUN DAI</span><br>
                <span class="people-inst">Google Brain</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">MAYUR NAIK</span><br>
                <span class="people-inst">University of Pennsylvania</span>
            </div>
            <div class="col-lg-2 col-half-offset">
                <span class="people-name">LE SONG</span><br>
                <span class="people-inst">Georgia Institute of Technology</span>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>
                            <img src="assets/xujie_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/aaditya_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/hanjun_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/mayur_img.jpg" class="people-img"/>
                        </td>
                        <td>
                            <img src="assets/le_img.png" class="people-img"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="people-name">Xujie Si</span>
                        </td>
                        <td>
                            <span class="people-name">Aaditya Naik</span>
                        </td>
                        <td>
                            <span class="people-name">Hanjun Dai</span>
                        </td>
                        <td>
                            <span class="people-name">Mayur Naik</span>
                        </td>
                        <td>
                            <span class="people-name">Le Song</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="people-inst">University of Pennsylvania</span>
                        </td>
                        <td>
                            <span class="people-inst">University of Pennsylvania</span>
                        </td>
                        <td>
                            <span class="people-inst">Georgia Institute of Technology</span>
                        </td>
                        <td>
                            <span class="people-inst">University of Pennsylvania</span>
                        </td>
                        <td>
                            <span class="people-inst">Georgia Institute of Technology</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div> -->
    </div>
</body>