<!DOCTYPE html>
<html>

<head>
	<title>Code2Inv | Publications</title>
	<%- include('../partial/includes.ejs') %>
	<script src="js/publications.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="css/publications.css" />

</head>

<body>
	<%- include('../partial/navbar.ejs') %>

	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Publications</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h3>Code2Inv: A Deep Learning Framework for Program Verification. (to appear)</h3>
                    Xujie Si, Aaditya Naik, Hanjun Dai, Mayur Naik, Le Song<br>
                    <a href="http://i-cav.org/2020/">CAV 2020</a>
                </p>
                <p>
                    <h3>Learning Loop Invariants for Program Verification.</h3>
                    Xujie Si, Hanjun Dai, Mukund Raghothaman, Mayur Naik, Le Song<br>
                    <a href="https://nips.cc/Conferences/2018/">NeurIPS 2018</a>
                    [
                        <a href="https://www.seas.upenn.edu/~xsi/data/nips18.pdf">Paper</a>,
                        <a href="https://www.seas.upenn.edu/~xsi/data/code2inv_poster.pdf">Poster</a>,
                        <a href="https://www.youtube.com/watch?v=Q1eAO2pZPZ8">Video Abstract</a>
                    ]
                </p>
            </div>
        </div>
    </div>
</body>